.container {
  padding: 20px;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
}