.title {
  font-size: 52px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 70px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.imgContainer {
  flex: 1;
  height: 480px;
  position: relative;
}

.image {
  object-fit: contain;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.input,
.textArea {
  padding: 18px 20px;
  background-color: transparent;
  border: 2px solid #999;
  border-radius: 8px;
  outline: none;
  color: #eee;
  font-size: 18px;
}

.input::placeholder,
.textArea::placeholder {
  color: #777;
}

.form button {
  width: fit-content;
  padding: 12px 30px;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .content {
    flex-direction: column;
    gap: 40px;
  }

  .imgContainer {
    width: 100%;
    height: 260px;
    flex: none;
  }

  .input,
  .textArea {
    font-size: 16px;
  }
}
