.mainTitle {
  font-size: 100px;
  font-weight: bold;
}

.selectTitle {
  margin: 20px 0px;
  font-size: 24px;
  font-weight: bold;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 50px;
}

.item {
  border: 5px solid #bbb;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  position: relative;
  background-size: cover !important;
}

.item:nth-child(1) {
  background: url("/illustration.png");
}
.item:nth-child(2) {
  background: url("/websites.jpg");
}
.item:nth-child(3) {
  background: url("/apps.jpg");
}

.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.item:hover .title {
  color: var(--primary-color);
}

@media (max-width: 992px) {
  .items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 20px;
  }
  .item {
    width: 100%;
  }
  .mainTitle {
    font-size: 50px;
  }
}