.catTitle {
  color: var(--primary-color);
}

.item {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.item:nth-child(2n+1) {
  flex-direction: row-reverse;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.img {
  object-fit: cover;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.decs {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .item {
    flex-direction: column !important;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: center;
  }

  .imgContainer {
    height: 300px;
    width: 400px;
    position: relative;
  }
  .img {
    width: 100%;
    height: 100%;
    position: relative !important;
  }

  .content {
    align-items: center;
    text-align: center;
    max-width: 850px;
  }

  .title {
    font-size: 30px;
  }

  .decs {
    font-size: 16px;
  }
}