.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--softBg, #111);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.imageContainer {
  position: relative;
  width: 400px;
  height: 250px;
  flex-shrink: 0;
}

.image {
  object-fit: cover;
  border-radius: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  color: #aaa;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .imageContainer {
    width: 100%;
    height: 100%;
  }

  .title {
    font-size: 22px;
  }

  .desc {
    font-size: 15px;
  }
  .content {
    align-items: center;
    text-align: center;
  }
}
