.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
}

.input {
  padding: 20px;
  background-color: transparent;
  border: 2px solid #bbb;
  color: #bbb;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.button {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}

.googleButton {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: #db4437;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}

.or {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #bbb;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}